.perfect-score {
  background: url("../../images/contour.png");
}

.grayscale-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media only screen and (max-width: 480px) {
  .get-started-button {
    margin-bottom: 10%;
  }
}

.show-on-top {
  position: relative;
  z-index: 100;
}

.relative {
  position: relative;
}