.perfect-score {
  background: url("../../images/contour.png");
}

.grayscale-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.show-on-top {
  position: relative;
  z-index: 100;
}

.relative {
  position: relative;
}