.tutor-card {
  width: 19rem;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 40px 80px rgba(172, 170, 170, 0.6);
}

.rating {
  height: 5rem;
  width: 5rem;
  background-color: var(--crimson);
  padding: 0.5rem;
  color: #fff;
  border-radius: 0.5rem;
}

.star {
  width: 0.7rem;
}

.home {
    display: block;
}
