body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: var(--crimson);
  color: #fff;
  padding: 0.5rem;
  border: none;
}

.tutor-option {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

:root {
  --crimson: #990000;
}

.crimson{
  color: var(--crimson);
}

.prep-box {
  position: absolute;
  background-color: var(--crimson);
  width: 250px;
  height: 200px;
  z-index: -1;
  right: 7rem;
}
