.top-right {
  height: 0.3rem;
  width: 4rem;
  background-color: var(--crimson);
  position: relative;
  left: 1rem;
  top: 0.7rem;
}

.top-down {
  height: 3rem;
  width: 0.3rem;
  background-color: var(--crimson);
  position: relative;
  left: 0.5rem;
}

.top-box {
  height: 1.2rem;
  width: 1.2rem;
  border: 5px solid var(--crimson);
}

.box {
  background-color: black;
  width: 7rem;
  height: 7rem;
  position: relative;
  left: 1.5rem;
  top: -2.7rem;
  border: 2px solid var(--crimson);
}

.package-heading,
.package-intro {
  position: relative;
  left: 10rem;
  top: -7rem;
  width: 50%;
}

.package-heading {
  color: var(--crimson);
}

@media only screen and (max-width: 480px) {
  .package-container {
    height: 200px;
  }

  .box {
    background-color: black;
    width: 4rem;
    height: 4rem;
    padding: 2%;
  }

  .package-heading,
  .package-intro {
    left: 6.5rem;
    top: -7rem;
    width: 65%;
  }
}
